@import url("https://v1.fontapi.ir/css/Shabnam");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Shabnam, sans-serif;
}

body {
  background-color: #092635;
  color: rgb(243 244 246)
}


@layer components {
  .textField {
    @apply w-full h-[45px] px-2 shadow-md text-center text-lg rounded-md bg-transparent placeholder:text-gray-400 border border-gray-700 outline-none duration-200 transition-all ease-in-out focus:outline-none focus:border-blue-100;
  }
  .btn {
    @apply h-[45px] border-none text-lg w-full font-bold rounded-md transition-all duration-300;
  }
  .btn--primary {
    @apply  bg-blue-700 text-white hover:bg-blue-800 shadow-md;
  }
  .btn--success {
    @apply  bg-green-500 text-white hover:bg-green-400 shadow-md;
  }
  
}