@import url("https://v1.fontapi.ir/css/Shabnam");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Shabnam, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #092635;
}
